@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

h2 span {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.container > div {
  cursor: pointer;
  height: 210px;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease-in;
}
.but1{
    margin-left: 180px;
    background-color: green;
    border-radius: 10px;
    border: none;
    width: 60px;
    height: 20px;
    color: white;
  }
  #h21{
    margin-left: 150px;
    margin-top: 90px;
  }
  #h22{
    margin-left: 140px;
    margin-top: 90px;
  }
  #h23{
    margin-left: 150px;
    margin-top: 40px;
  }
  #h24{
    margin-left: 180px;
    margin-top: 100px;
  }
  #h25{
    margin-left: 440px;
    margin-top: 315px;
  }
  .but2{
    margin-left: 180px;
    background-color: green;
    border-radius: 10px; 
    border: none;
    width: 60px;
    height: 20px;
    color: white;
  }
  #but3{
    margin-left: 445px;
    background-color: green;
    border-radius: 10px;
    border: none;
    width: 60px;
    height: 20px;
    color: white;
  }
  h2{
    color: red;
  }
.container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.container > div:nth-of-type(1) {
    grid-column: 1/2;
    margin-left: 25%;
    width: 85%;
  }
  
  .container > div:nth-of-type(2) {
    grid-column: 2/3;
    margin-left: 10%;
    width: 85%;
  }
  
  .container > div:nth-of-type(3) {
    grid-column: 1/2;
    margin-left: 25%;
    width: 85%;
  }
  
  .container > div:nth-of-type(4) {
    grid-column: 2/3;
    margin-left: 10%;
    width: 85%;
  }
  
  .container > div:nth-of-type(5) {
    grid-column: 3 / 5;
    margin-top: -35.125%;
    height: 204%;
    margin-right: 25%;
    width: 85%;
  }

.bg1 {
  background: url('https://static3.rokna.net/thumbnail/BR1Q9dpbuKD8/NS2RJzVApQ3E7SFsFf8OS-KvMGwizaa_Q-_dxw0RVwm0qukoI27-JV2XP73Xc1uGeDRyE0w8KrrrEvf2Lcb5DzYd4j3WYr7vwXrZnkpaTeBaI4FXo70tPocd_ylMoA9S/%D8%A7%D9%82%D8%AA%D8%B5%D8%A7%D8%AF+%D8%AC%D9%87%D8%A7%D9%86%DB%8C.jpg');
  border: 10px solid green;
}

.bg2 {
  background: url("https://1.bp.blogspot.com/-CYvGq9bx1yc/XY4A2YhssNI/AAAAAAAAAMs/CNf9PTbqpQ8KukfCtFeOxww_4GZ0YJzawCLcBGAsYHQ/s1600/Screenshot_1.png");
  border: 10px solid green;
}
.bg3 {
    background: url("https://khamsat.hsoubcdn.com/images/services/63974/281075e06b731d7671ea2e10cfb62991.jpg");
    border: 10px solid green;
}
  
.bg4 {
    background: url("https://pbs.twimg.com/profile_images/414002728999092224/1Go5bsY2.jpeg");
    border: 10px solid green;
}
.bg5 {
    background: url("https://1.bp.blogspot.com/-PsxnqA5DLHI/XhsrB7wvD-I/AAAAAAAADFc/jPUiz0d15zsTsjiOurCILeoh8PqGjJInwCNcBGAsYHQ/s1600/22.png");
    border: 10px solid green;
}
@media (max-width: 768px) {
    .container > div:nth-of-type(1) {
        grid-column: 1/2;
        margin-left: 17%;
        width: 50%;
      }
      .container > div:nth-of-type(2) {
        grid-column: 2/3;
        margin-left: -35%;
        width: 50%;
      }
      .container > div:nth-of-type(3) {
        grid-column: 1/2;
        margin-left: 17%;
        width: 50%;
      }
      
      .container > div:nth-of-type(4) {
        grid-column: 2/3;
        margin-left: -35%;
        width: 50%;
      }
      .container > div:nth-of-type(5) {
        grid-column: 3 / 5;
        margin-top: -45.125%;
        margin-bottom: -80px;
        height: 142.5%;
        margin-left: -1150%;
        width: 540%;
        top: -50%;
        transform: translateY(-210px);
      }
      .but1{
        margin-left: 50px;
        background-color: green;
        border-radius: 10px;
        border: none;
        width: 60px;
        height: 20px;
        color: white;
      }
      #h21{
        margin-left: 70px;
        margin-top: 90px;
        font-size: 130%;
      }
      #h22{
        margin-left: 70px;
        margin-top: 90px;
        font-size: 130%;
      }
      #h23{
        margin-left: 150px;
        margin-top: 40px;
        transform: translateX(-40px) translateY(40px) scale(0.4);
      }
      #h24 {
        margin-left: 180px;
        margin-top: 100px;
        transform: translateX(-50px) translateY(20px) scale(0.5);
      }      
      #h25{
        margin-left: 50px;
        margin-top: 315px;
        font-size: 130%;
        transform: translateY(20px);
      }
      .but2{
        margin-left: 50px;
        background-color: green;
        border-radius: 10px; 
        border: none;
        width: 60px;
        height: 20px;
        color: white;
      }
      #but3{
        margin-left: 15px;
        background-color: green;
        border-radius: 10px;
        border: none;
        width: 60px;
        height: 20px;
        color: white;
        transform: translateY(17px);
      }
}
    