#container{
    width: 80%;
    height: 23em;
    margin: 22% auto 10% auto;
    position: static;
    top: 180px;
    left: 125px;
}
#par{
  color: black;
}
#foot{
  margin-top: 55px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 34px;
}
h5{
  color: green;
   text-align: center;
    margin-top: 10px;
}
@media (max-width: 768px){
  h5{
    margin-top: 60px;
  }
}